@import url("https://fonts.googleapis.com/css?family=Roboto:100, 250, 300, 400,500,800");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300");

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 0;
  min-height: 10px;
  background: #000100;
  padding-top: 80px;
}

.big-box {
  box-shadow: 3.5px 4px gray;
  background-color: rgb(65, 63, 63);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -35px;
  border-radius: 10px;
}

.big-box img {
  min-width: 100%;
  height: 250px;
  object-fit: cover;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 5px;
}

.text-box {
  width: 190px;
  height: 50px;
  margin-left: 6px;
  margin-top: 210px;
}

.username-box {
  left: 50%;
  margin-top: -3px;
  height:100px;
}


.row {
  min-width: 500px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
    padding: 20px;
    font-family: 'Montserrat';
    font-size: 70px;
    text-align: center;
    color: #11005e;
    font-weight: 100;
}

h5 {
    font-family: 'Montserrat', serif;
    font-weight: 100; 
}

.image {
  width:22280px;
  float:left;
  margin-left: 5%;
}

.image img {
    width: 81px;
    height: auto;
}


.homepage {
    height: 50px;
    width: 50px;
    box-shadow: 0px 3px 10px 0px grey;
}

.generic-title {
  text-align: center;
  font-size: 26px;
  color: silver;
  margin-top: 5px;
}

.form-group {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  color: black;
  padding-bottom: 13px;
}


input[type=url] {
  background-image: url('https://media.discordapp.net/attachments/776604269239074888/849799301143461908/New_Project_1.png?width=536&height=536');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

input[id=Description] {
  height: 200px;
  resize: vertical;
}

.navbar-brand {
    background: url(../Images/Logo.png);
    width:25px;
    height: auto;
    margin-left:5px;
}
@media only screen and (max-width:800px) {
    .navbar-brand {
        background: url(../Images/Logo-Condensed.png) no-repeat center;
        width:70px;
    }
}

header {
    top: 0;
    height: 60px;
    background: #070707;
    width: 100%;
    z-index: 10;
    position: fixed;
    box-shadow: 5px 2px #1F1A3A;
}

ul {
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    list-style-type: none;
    margin: 17px;
    padding-bottom: 40px;
    top: 0;
    height: 50px;
    
    width:100%;
    z-index: 10;
    position: fixed;
    margin-right: 0px;
    font-size: 20px;
    overflow: hidden;
    padding-right: 80px;
}

li {
  float: right;
}

li a {
    display: block;
    size: 2px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #1F1A38;
    border-radius: 75px;
    text-decoration: none;
    color: #D1D646;
    font-family: 'Roboto';
    font-weight: 350;
    transition: background 500ms ease
}

li a:hover {
    background-color: #D1D646;
    color: #000100;
}

.intro1 {
  color: white;
  font-size: 42px;
  font-family: 'Roboto';
  font-weight: 800;
  margin-left: 10%;
  margin-top: 70px;
}

.intro2 {
  color: white;
  overflow: hidden;
  border-right: .15em solid #D1D646;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-left: 10%;
  animation: 
    typing 3.5s steps(100, end),
    blink-caret .5s step-end infinite;
  width: 450px;
}

.intro3 {
  color: white;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-left: 10%;
}

.sub-text {
  text-align: center;
  margin-top: 50px;
  color: white;
  font-size: 42px;
  font-family: 'Roboto';
  font-weight: 800;
}

.socials img {
  width: 50px;
  height: 50px;
}
.img_1 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.img_1 img{
  width: 40%;
}
.socials {
  margin-left: 10%;
  margin-top: 30px;
  padding-left: 1.5px;
  padding-top: 2.1px;
  background: white;
  border-radius: 19px;
  width: 55px;
  height: 55px;
  float: left;
}

.social-icon {
  .row::after {
  content: "";
  clear: both;
  display: table;
}

.journey {
  display: flex;
  justify-content: center;
  height: 100px;
}

.journey img {
  border-radius: 5px;
  
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 450px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #D1D646}
}