{% extends "base.html" %}

{% block content %}
<div class="intro1">
  Hey hey!
</div>

<div class="intro2">
  Creatively Solving Problems since Day 1
</div>

<div class="intro3">
  I'm a Third Year student at the University of Toronto Scarborough, majoring in Mathematics and Statistics (co-op) and minoring in Economics.
</div>

<div class="git">
  <a href="https://github.com/not-danish">
    <img src="./Danish Siddiqui - Univeristy of Toronto Scarborough_files/github_PNG83.png" alt="See Github repo for this website">
  </a>
</div>
{% endblock %}