{% extends "base.html" %}

{% block content %}
<div class="intro1">
  Hey hey!
</div>

<div class="intro2">
  Creatively Solving Problems since Day 1
</div>

<div class="intro3">
  I'm a Third Year student at the University of Toronto Scarborough, majoring in Mathematics and Statistics (co-op) and minoring in Economics.
</div>

<div class="social-icon">
<div class="socials">
  <a href="https://github.com/not-danish">
    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="See Github repo for this website">
  </a>
</div>

<div class="socials">
  <a href="https://https://www.linkedin.com/in/danish-siddiqui-24b3861a3/">
    <img src="https://cdn.icon-icons.com/icons2/2428/PNG/512/linkedin_black_logo_icon_147114.png">
  </a>
</div>
</div>
  
{% endblock %}